<% provide(:title, 'Contact') %>
<h1>Contact...</h1>
	<p>Let's make...<a href="http://images.wikia.com/muppet/images/c/c8/321contact.jpg">CONTACT!</a></p>
	<p>3</p>
	<p>2</p>
	<p>1</p>
	<p>...</p>
	<p><a href= "http://www.youtube.com/watch?v=s2-LEBc2sO8">Contact.</a></p>