<div class="center hero-unit">
	<h1>TwantApp</h1>
		
		<h2>Home is where the <a href="http://i.huffpost.com/gen/274325/AM-I-WEARING-PANTS.jpg">PANTS</a> are.
		</h2>
		<%= link_to "Get some!", getsome_path, class: "btn btn-large btn-primary" %>
</div>
<div class="center">
<%= link_to image_tag("bunnyRabbits.jpg", alt: "BUNNIES!"),'http://1.bp.blogspot.com/-3XBUPZtl2hk/TkzFiB6HxgI/AAAAAAAAA_Q/z4rxNi333T0/s1600/cute+bunny+011.jpg' %>
</div>